---
import BaseLayout from '~/layouts/BaseLayout.astro';
import SinglePost from '~/components/template/blog/SinglePost.astro';
import ToBlogLink from '~/components/template/blog/ToBlogLink.astro';
import { getPermalink } from '~/utils/permalinks';
import { fetchPosts } from '~/utils/blog';
import type { Post } from '~/types';

export async function getStaticPaths() {
  const posts = await fetchPosts();
  return posts.map((post) => ({
    params: { slug: post.permalink?.replace(/^\/|\/$/g, '') },
    props: { post },
  }));
}

import ArticleSidebar from '~/components/template/blog/ArticleSidebar.astro';

interface Props {
  post: Post;
}

const { post } = Astro.props;

const metadata = {
  title: post.title,
  description: post.excerpt,
  image: post.image,
  canonical: post.metadata?.canonical || (post.permalink ? undefined : getPermalink(post.slug, 'post')),
};
---

<BaseLayout metadata={metadata}>
  <div class="container mx-auto px-0 sm:px-4">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-12">
      <main class="lg:col-span-8">
        <SinglePost post={post} url={post.permalink || getPermalink(post.slug, 'post')}>
           {post.image ? (
            typeof post.image === 'string' ? (
              <img slot="image" src={post.image} alt={post.title} class="w-full h-auto rounded-lg shadow-lg mb-6" />
            ) : (
             <img slot="image" src={post.image.src} alt={post.title} class="w-full h-auto rounded-lg shadow-lg mb-6" />
            )
          ) : (
            <div slot="image" class="h-10"></div>
          )}
          
          {post.Content ? <post.Content /> : <Fragment set:html={post.content} />}
        </SinglePost>
      </main>
      
      <aside class="hidden lg:block lg:col-span-4">
        <ArticleSidebar />
      </aside>
    </div>
  </div>

  <ToBlogLink />
</BaseLayout>
